* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 1.47;
  color: #555;
  background-color: #fff;
}

h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  color: #202020;
}

h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #202020;
}

.container {
  width: 1680px;
  margin: 0 auto;
  padding: 0 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.topline {
  width: 100%;
  padding-top: 12px;
}

.topline .topline-menu {
  display: inline;
}

@media (max-width: 992px) {
  .topline .topline-menu {
    display: none;
  }
}

.topline .topline-menu li {
  display: inline;
  list-style: none;
  margin-right: 20px;
}

.topline .topline-menu li a {
  text-decoration: none;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #A0A0A0;
}

.topline .topline-mobile {
  display: inline;
}

.topline .topline-mobile > input[type="checkbox"] {
  display: none;
}

@media (max-width: 768px) {
  .topline .topline-mobile {
    display: none;
  }
}

.topline .topline-mobile > span {
  cursor: pointer;
}

.topline .topline-mobile .topline-menu-mobile {
  display: none;
  position: absolute;
  z-index: 200;
  float: left;
  min-width: 175px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 13px;
  text-align: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}

.topline .topline-mobile .topline-menu-mobile > li {
  list-style-type: none;
  font-weight: normal;
  line-height: 1.47;
  color: #999;
  padding: 10px 15px;
}

.topline .topline-mobile .topline-menu-mobile > li a {
  color: #555;
  padding: 10px 15px;
  text-decoration: none;
}

.topline .topline-mobile > input[type="checkbox"]:checked ~ .topline-menu-mobile {
  display: block;
}

.topline .contact {
  float: right;
}

@media (max-width: 1200px) {
  .topline .contact {
    float: none;
    display: inline-block;
  }
}

@media (max-width: 992px) {
  .topline .contact {
    float: right;
  }
}

@media (max-width: 768px) {
  .topline .contact {
    display: none;
  }
}

.topline .contact #telephone-number {
  font-weight: bold;
  font-size: 15px;
  line-height: 17px;
  color: #202020;
}

@media (max-width: 1200px) {
  .topline .contact #telephone-number {
    display: none;
  }
}

@media (max-width: 1440px) {
  .topline .contact > span:last-of-type {
    display: none;
  }
}

.topline .contact .headline-call {
  text-decoration: none;
  border-radius: 4px;
  margin-left: 20px;
  padding: 3px 10px;
  background: #FFEA01;
}

.topline .contact .headline-call span {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #000000;
}

.fly-header-wrap {
  padding-top: 6px;
}

@media (max-width: 1200px) {
  .fly-header-wrap {
    padding-top: 6px;
  }
}

.fly-header-wrap .fly-header > div {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.fly-header-wrap .fly-header .search-button {
  display: inline-block;
}

.fly-header-wrap .fly-header .kit-logo {
  width: 190px;
  height: 75px;
}

@media (max-width: 768px) {
  .fly-header-wrap .fly-header .kit-logo {
    position: relative;
    top: -15px;
    left: 30px;
    height: 40px;
  }
}

.fly-header-wrap .fly-header .catalog {
  margin-left: 65px;
  width: 127px;
  height: 40px;
  background: #FFEA01;
  border-radius: 4px;
  padding: 11px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: unset;
  cursor: pointer;
  position: relative;
}

@media (max-width: 1200px) {
  .fly-header-wrap .fly-header .catalog {
    margin-left: 30px;
  }
}

@media (max-width: 768px) {
  .fly-header-wrap .fly-header .catalog {
    float: left;
    width: 40px;
    height: 40px;
    margin-left: 0;
  }
}

.fly-header-wrap .fly-header .catalog .catalog-button {
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 17px;
  color: #202020;
  margin-left: 48px;
  position: relative;
}

@media (max-width: 768px) {
  .fly-header-wrap .fly-header .catalog .catalog-button {
    display: none;
  }
}

.fly-header-wrap .fly-header .catalog::before {
  width: 20px;
  height: 20px;
  content: url(../wallpapers/burger.png);
  position: absolute;
  top: 9px;
  left: 11px;
}

.fly-header-wrap .fly-header .input-group {
  margin-left: 25px;
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #FFFFFF;
  border-radius: 4px;
}

.fly-header-wrap .fly-header .input-group #search-form {
  padding-left: 15px;
  width: 755px;
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: transparent;
  outline: none;
  float: left;
  border: 2px solid #FFEA01;
}

@media (max-width: 1680px) {
  .fly-header-wrap .fly-header .input-group #search-form {
    width: 547px;
  }
}

@media (max-width: 1440px) {
  .fly-header-wrap .fly-header .input-group #search-form {
    width: 305px;
  }
}

@media (max-width: 1200px) {
  .fly-header-wrap .fly-header .input-group #search-form {
    width: 240px;
  }
}

@media (max-width: 992px) {
  .fly-header-wrap .fly-header .input-group #search-form {
    width: 264px;
  }
}

@media (max-width: 768px) {
  .fly-header-wrap .fly-header .input-group #search-form {
    display: none;
  }
}

.fly-header-wrap .fly-header .input-group #search-form::-webkit-input-placeholder {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 17px;
  color: #A0A0A0;
}

.fly-header-wrap .fly-header .input-group #search-form:-ms-input-placeholder {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 17px;
  color: #A0A0A0;
}

.fly-header-wrap .fly-header .input-group #search-form::-ms-input-placeholder {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 17px;
  color: #A0A0A0;
}

.fly-header-wrap .fly-header .input-group #search-form::placeholder {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 17px;
  color: #A0A0A0;
}

.fly-header-wrap .fly-header .input-group #search-form::-webkit-input-placeholder {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 17px;
  color: #A0A0A0;
}

.fly-header-wrap .fly-header .input-group #search-button {
  display: none;
}

.fly-header-wrap .fly-header .input-group .search-button-block {
  cursor: pointer;
  display: inline-block;
  width: 64px;
  height: 40px;
  background: #FFEA01;
  border-radius: 0 4px 4px 0;
}

@media (max-width: 768px) {
  .fly-header-wrap .fly-header .input-group .search-button-block {
    background: #FFFFFF;
    width: 40px;
    height: 40px;
    margin-left: 30px;
  }
}

.fly-header-wrap .fly-header .input-group .search-button-block .search-button-img {
  position: relative;
  top: 8px;
  width: 24px;
  height: 24px;
}

.fly-header-wrap .fly-header .buttons-block > div {
  cursor: pointer;
  display: inline-block;
  margin-left: 56px;
  position: relative;
  height: 40px;
}

@media (max-width: 1200px) {
  .fly-header-wrap .fly-header .buttons-block > div {
    margin-left: 30px;
  }
}

@media (max-width: 768px) {
  .fly-header-wrap .fly-header .buttons-block > div {
    height: 40px;
    width: 40px;
    margin-left: 10px;
  }
}

.fly-header-wrap .fly-header .buttons-block > div img {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

@media (max-width: 1200px) {
  .fly-header-wrap .fly-header .buttons-block > div:first-child {
    margin-left: 25px;
  }
}

@media (max-width: 768px) {
  .fly-header-wrap .fly-header .buttons-block > div:first-child {
    margin-left: 10px;
  }
}

.fly-header-wrap .fly-header .buttons-block > div:nth-child(1n+2) a:after {
  content: "12";
  background: #FFEA01;
  border-radius: 50px;
  width: 18px;
  height: 18px;
  position: absolute;
  right: -7px;
  top: 0;
}

.fly-header-wrap .fly-header .buttons-block > div::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.fly-header-wrap .fly-header .buttons-block > div:nth-child(-n+3)::after {
  content: url(../wallpapers/verticalline.png);
  position: absolute;
  top: 8px;
  right: -28px;
  height: 24px;
}

@media (max-width: 1200px) {
  .fly-header-wrap .fly-header .buttons-block > div:nth-child(-n+3)::after {
    right: -18px;
  }
}

@media (max-width: 768px) {
  .fly-header-wrap .fly-header .buttons-block > div:nth-child(2), .fly-header-wrap .fly-header .buttons-block div:nth-child(3) {
    display: none;
  }
}

@media (max-width: 768px) {
  .fly-header-wrap .fly-header .buttons-block > div:nth-child(-n+3)::after {
    content: "";
  }
}

.top-menu {
  margin-top: 20px;
  width: 100%;
  background: #FFEA01;
  height: 46px;
}

@media (max-width: 1200px) {
  .top-menu {
    display: none;
  }
}

.top-menu .top-menu-list {
  margin-left: 20px;
}

.top-menu .top-menu-list > ul > li {
  position: relative;
  display: inline-block;
  list-style-type: none;
  margin: 0 16px;
  height: 46px;
}

.top-menu .top-menu-list > ul > li > a {
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 17px;
  color: #202020;
  display: inline-block;
  vertical-align: middle;
}

.top-menu .top-menu-list > ul > li::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.top-menu .top-menu-list > ul > li:first-child::before {
  content: url(../wallpapers/discountIcon.png);
  position: absolute;
  top: calc(50%-10px);
  left: -28px;
  height: 20px;
  width: 20x;
}

.catalog-category {
  margin-top: 30px;
}

@media (max-width: 1200px) {
  .catalog-category {
    margin-top: 10px;
  }
}

.catalog-category .breadcrumbs {
  margin-bottom: 7px;
}

@media (max-width: 768px) {
  .catalog-category .breadcrumbs {
    margin-top: 25px;
  }
}

.catalog-category .breadcrumbs > ul {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 19px;
  font-size: 13px;
  color: #555;
}

.catalog-category .breadcrumbs > ul > li {
  list-style-type: none;
  display: inline-block;
}

.catalog-category .breadcrumbs > ul > li > a {
  text-decoration: none;
}

.category-block {
  margin-top: 30px;
}

.category-block .category-block-menu {
  height: 40px;
  background: #F5F5F5;
}

@media (max-width: 768px) {
  .category-block .category-block-menu {
    display: none;
  }
}

.category-block .category-block-menu > ul {
  position: relative;
}

.category-block .category-block-menu > ul > li {
  list-style-type: none;
  display: inline-block;
  margin: 0 20px;
  padding-top: 11px;
}

.category-block .category-block-menu > ul > li > .category-block-item {
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  color: #202020;
  text-decoration: none;
}

.category-block .category-block-menu > ul > li:first-of-type {
  margin-left: 28px;
}

.category-block .category-block-menu > ul .block-item-list {
  display: none;
  list-style-type: none;
  width: 100%;
  height: 465px;
  position: absolute;
  top: 40px;
  left: 0;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 5px 8px rgba(32, 32, 32, 0.12);
          box-shadow: 0px 5px 8px rgba(32, 32, 32, 0.12);
  z-index: 2;
}

.category-block .category-block-menu > ul .block-item-list > ul {
  list-style-type: none;
  display: inline-block;
  width: 295px;
  margin-left: 22px;
  margin-top: 35px;
}

.category-block .category-block-menu > ul .block-item-list > ul > li:first-of-type {
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 17px;
  color: #202020;
  padding-bottom: 8px;
}

.category-block .category-block-menu > ul .block-item-list > ul > li {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #A0A0A0;
}

.category-block .category-block-menu > ul .block-item-list > ul:first-of-type {
  margin-left: 28px;
}

.category-block .category-block-menu > ul .category-block-item:hover ~ .block-item-list {
  display: block;
}

.category-block .category-block-banner {
  width: 100%;
  height: 400px;
  overflow: hidden;
}

@media (max-width: 768px) {
  .category-block .category-block-banner {
    height: 322px;
  }
}

.category-block .category-block-banner .swiper-slide > img {
  width: 1620px;
  height: 400px;
}

@media (max-width: 768px) {
  .category-block .category-block-banner .swiper-slide > img {
    height: 322px;
  }
}

.category-block .category-block-banner .swiper-slide > span:first-of-type {
  width: 514px;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 42px;
  color: #FFFFFF;
  position: absolute;
  top: 105px;
  left: 65px;
}

@media (max-width: 768px) {
  .category-block .category-block-banner .swiper-slide > span:first-of-type {
    width: 357px;
    font-size: 22px;
    line-height: 27px;
  }
}

.category-block .category-block-banner .swiper-slide > a {
  background: #FFEA01;
  border-radius: 4px;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 17px;
  color: #202020;
  padding: 11px 20px;
  text-decoration: none;
  position: absolute;
  top: 220px;
  left: 65px;
}

@media (max-width: 768px) {
  .category-block .category-block-banner .swiper-slide > a {
    top: 190px;
  }
}

.category-popular {
  margin-top: 50px;
}

.category-popular .category-popular-list {
  margin-top: 20px;
}

@media (max-width: 1200px) {
  .category-popular .category-popular-list {
    text-align: center;
  }
}

.category-popular .category-popular-list > div {
  width: 233px;
  display: inline-block;
  margin-right: 18px;
  margin-left: 18px;
  text-align: center;
}

@media (max-width: 1680px) {
  .category-popular .category-popular-list > div {
    margin-right: 15px;
    margin-left: 15px;
    width: 200px;
  }
}

@media (max-width: 1440px) {
  .category-popular .category-popular-list > div {
    width: 165px;
    margin-right: 10px;
    margin-left: 10px;
  }
}

@media (max-width: 1200px) {
  .category-popular .category-popular-list > div {
    width: 220px;
    margin-right: 50px;
    margin-left: 0;
    margin-bottom: 30px;
  }
}

@media (max-width: 992px) {
  .category-popular .category-popular-list > div {
    width: 185px;
  }
}

@media (max-width: 768px) {
  .category-popular .category-popular-list > div {
    width: 153px;
    margin-right: 24px;
  }
}

.category-popular .category-popular-list > div > a {
  text-decoration: none;
}

.category-popular .category-popular-list > div > a > img {
  border-radius: 7px;
}

@media (max-width: 1680px) {
  .category-popular .category-popular-list > div > a > img {
    width: 200px;
  }
}

@media (max-width: 1440px) {
  .category-popular .category-popular-list > div > a > img {
    width: 165px;
  }
}

@media (max-width: 1200px) {
  .category-popular .category-popular-list > div > a > img {
    width: 220px;
  }
}

@media (max-width: 992px) {
  .category-popular .category-popular-list > div > a > img {
    width: 185px;
  }
}

@media (max-width: 768px) {
  .category-popular .category-popular-list > div > a > img {
    width: 153px;
  }
}

.category-popular .category-popular-list > div > a > span {
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 29px;
  color: #202020;
}

@media (max-width: 1440px) {
  .category-popular .category-popular-list > div > a > span {
    font-size: 14px;
    line-height: 23px;
  }
}

@media (max-width: 1200px) {
  .category-popular .category-popular-list > div > a > span {
    font-size: 17px;
    line-height: 29px;
  }
}

@media (max-width: 992px) {
  .category-popular .category-popular-list > div > a > span {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 768px) {
  .category-popular .category-popular-list > div > a > span {
    font-size: 13px;
    line-height: 14px;
  }
}

.category-popular .category-popular-list > div:first-of-type {
  margin-left: 10px;
}

@media (max-width: 1680px) {
  .category-popular .category-popular-list > div:first-of-type {
    margin-left: 0;
  }
}

@media (max-width: 1200px) {
  .category-popular .category-popular-list > div:first-of-type {
    margin-left: 0;
  }
}

.category-popular .category-popular-list > div:last-of-type {
  margin-right: 10px;
}

@media (max-width: 1200px) {
  .category-popular .category-popular-list > div:last-of-type {
    margin-right: 0;
  }
}

@media (max-width: 1200px) {
  .category-popular .category-popular-list > div:nth-child(3) {
    margin-right: 0;
  }
}

.product-popular {
  margin-top: 50px;
}

@media (max-width: 1440px) {
  .product-popular {
    margin-top: 25px;
  }
}

.product-popular .product-popular-swiper {
  height: 300px;
  margin-top: 20px;
  overflow: hidden;
}

.product-popular .swiper-container1 {
  width: 100%;
}

.product-popular .swiper-container1 > .swiper-wrapper > .swiper-slide {
  height: 275px;
  position: relative;
}

@media (max-width: 1680px) {
  .product-popular .swiper-container1 > .swiper-wrapper > .swiper-slide {
    height: 280px;
  }
}

@media (max-width: 1440px) {
  .product-popular .swiper-container1 > .swiper-wrapper > .swiper-slide {
    height: 265px;
  }
}

.product-popular .swiper-container1 > .swiper-wrapper > .swiper-slide > a {
  text-decoration: none;
}

.product-popular .swiper-container1 > .swiper-wrapper > .swiper-slide > a > img {
  width: 180px;
  height: 180px;
  margin-bottom: 15px;
  border-radius: 8px;
}

@media (max-width: 1440px) {
  .product-popular .swiper-container1 > .swiper-wrapper > .swiper-slide > a > img {
    width: 165px;
    height: 165px;
  }
}

.product-popular .swiper-container1 > .swiper-wrapper > .swiper-slide > a > span:first-of-type {
  width: 180px;
  display: block;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 17px;
  color: #202020;
}

.product-popular .swiper-container1 > .swiper-wrapper > .swiper-slide > a .product-popular-coast {
  display: block;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 17px;
  color: #202020;
  position: absolute;
  bottom: 0px;
}

.subcategory-popular {
  margin-top: 100px;
}

@media (max-width: 1680px) {
  .subcategory-popular {
    margin-top: 20px;
  }
}

.subcategory-popular .subcategory-popular-container .subcategory-popular-banner {
  float: left;
  margin-right: 50px;
}

@media (max-width: 1200px) {
  .subcategory-popular .subcategory-popular-container .subcategory-popular-banner {
    display: none;
  }
}

.subcategory-popular .subcategory-popular-container .subcategory-popular-banner > a > img {
  border-radius: 10px;
}

@media (max-width: 1440px) {
  .subcategory-popular .subcategory-popular-container .subcategory-popular-banner > a > img {
    width: 350px;
  }
}

.subcategory-popular .subcategory-popular-container .subcategory-popular-block h2 {
  padding-top: 20px;
  padding-bottom: 10px;
}

.subcategory-popular .subcategory-popular-container .subcategory-popular-block > div:first-of-type > span {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 22px;
  color: #A0A0A0;
}

.subcategory-popular .subcategory-popular-container .subcategory-popular-block .subcategory-popular-list {
  padding-top: 20px;
}

@media (max-width: 1680px) {
  .subcategory-popular .subcategory-popular-container .subcategory-popular-block .subcategory-popular-list {
    padding-top: 50px;
    padding-bottom: 35px;
  }
}

@media (max-width: 1680px) {
  .subcategory-popular .subcategory-popular-container .subcategory-popular-block .subcategory-popular-list {
    padding-top: 25px;
    padding-bottom: 20px;
  }
}

@media (max-width: 1200px) {
  .subcategory-popular .subcategory-popular-container .subcategory-popular-block .subcategory-popular-list {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .subcategory-popular .subcategory-popular-container .subcategory-popular-block .subcategory-popular-list {
    text-align: left;
  }
}

.subcategory-popular .subcategory-popular-container .subcategory-popular-block .subcategory-popular-list > div {
  width: 233px;
  display: inline-block;
  margin-right: 50px;
  margin-bottom: 50px;
  text-align: center;
}

@media (max-width: 1680px) {
  .subcategory-popular .subcategory-popular-container .subcategory-popular-block .subcategory-popular-list > div {
    width: 200px;
    margin-right: 25px;
  }
}

@media (max-width: 1440px) {
  .subcategory-popular .subcategory-popular-container .subcategory-popular-block .subcategory-popular-list > div {
    width: 165px;
    margin-right: 23px;
    margin-bottom: 25px;
  }
}

@media (max-width: 1200px) {
  .subcategory-popular .subcategory-popular-container .subcategory-popular-block .subcategory-popular-list > div {
    margin-right: 30px;
    width: 200px;
  }
}

@media (max-width: 992px) {
  .subcategory-popular .subcategory-popular-container .subcategory-popular-block .subcategory-popular-list > div {
    width: 163px;
    margin-right: 15px;
  }
}

@media (max-width: 768px) {
  .subcategory-popular .subcategory-popular-container .subcategory-popular-block .subcategory-popular-list > div {
    width: 150px;
  }
}

.subcategory-popular .subcategory-popular-container .subcategory-popular-block .subcategory-popular-list > div a {
  text-decoration: none;
}

.subcategory-popular .subcategory-popular-container .subcategory-popular-block .subcategory-popular-list > div a > img {
  border-radius: 7px;
}

@media (max-width: 1680px) {
  .subcategory-popular .subcategory-popular-container .subcategory-popular-block .subcategory-popular-list > div a > img {
    width: 200px;
  }
}

@media (max-width: 1440px) {
  .subcategory-popular .subcategory-popular-container .subcategory-popular-block .subcategory-popular-list > div a > img {
    width: 165px;
  }
}

@media (max-width: 1200px) {
  .subcategory-popular .subcategory-popular-container .subcategory-popular-block .subcategory-popular-list > div a > img {
    width: 200px;
  }
}

@media (max-width: 992px) {
  .subcategory-popular .subcategory-popular-container .subcategory-popular-block .subcategory-popular-list > div a > img {
    width: 163px;
  }
}

@media (max-width: 768px) {
  .subcategory-popular .subcategory-popular-container .subcategory-popular-block .subcategory-popular-list > div a > img {
    width: 150px;
  }
}

.subcategory-popular .subcategory-popular-container .subcategory-popular-block .subcategory-popular-list > div a > span {
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 34px;
  color: #202020;
}

.subcategory-popular .subcategory-popular-container .subcategory-popular-block .subcategory-popular-list > div:nth-child(4n) {
  margin-right: 0px;
}

@media (max-width: 768px) {
  .subcategory-popular .subcategory-popular-container .subcategory-popular-block .subcategory-popular-list > div:nth-child(4n) {
    margin-right: 15px;
  }
}

@media (max-width: 768px) {
  .subcategory-popular .subcategory-popular-container .subcategory-popular-block .subcategory-popular-list > div:nth-child(3n) {
    margin-right: 0;
  }
}

.brands {
  margin-top: 50px;
}

@media (max-width: 1440px) {
  .brands {
    margin-top: 25px;
  }
}

.brands .container .brands-heading {
  position: relative;
  height: 28px;
}

.brands .container .brands-heading h2 {
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0px;
}

.brands .container .brands-heading a {
  display: inline-block;
  position: absolute;
  top: 0px;
  right: 0px;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #A0A0A0;
}

.brands .container .brands-popular-swiper {
  margin-top: 22px;
  height: 88px;
  overflow: hidden;
}

.brands .container .brands-popular-swiper .swiper-slide {
  text-align: center;
}

.brands .container .brands-popular-swiper .swiper-slide > a {
  height: 88px;
  display: block;
}

.brands .container .brands-popular-swiper .swiper-slide > a > img {
  display: inline-block;
  vertical-align: middle;
}

.brands .container .brands-popular-swiper .swiper-slide > a::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.swiper-button-next, .swiper-button-prev {
  color: white;
  top: 42%;
}

.swiper-button-next:after, .swiper-button-prev:after {
  color: white;
}

.articles-popular {
  margin-top: 50px;
  margin-bottom: 50px;
}

.articles-popular .articles-popular-swiper {
  margin-top: 22px;
  height: 230px;
}

.articles-popular .articles-popular-swiper .swiper-slide img {
  border-radius: 7px;
  width: 370px;
  height: 230px;
}

@media (max-width: 992px) {
  .articles-popular .articles-popular-swiper .swiper-slide img {
    width: 240px;
    height: 150px;
  }
}

.articles-popular .articles-popular-swiper .swiper-slide span {
  display: block;
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 22px;
  color: #202020;
  margin-top: 10px;
  width: 370px;
}

@media (max-width: 992px) {
  .articles-popular .articles-popular-swiper .swiper-slide span {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 1920px) {
  .container {
    width: 1681px;
    padding: 0 30px;
  }
}

@media (max-width: 1680px) {
  .container {
    width: 1441px;
    padding: 0 30px;
  }
}

@media (max-width: 1440px) {
  .container {
    width: 1201px;
    padding: 0 30px;
  }
}

@media (max-width: 1200px) {
  .container {
    width: 993px;
    padding: 0 30px;
  }
}

@media (max-width: 990px) {
  .container {
    width: 769px;
    padding: 0 30px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 577px;
    padding: 0 30px;
  }
}

@media (max-width: 576px) {
  .container {
    width: 321px;
    padding: 0 15px;
  }
}
/*# sourceMappingURL=style.css.map */