* {
    margin: 0;
    padding: 0;
   }
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 1.47;
    color: #555;
    background-color: #fff;
}
h1{
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;                    
    color: #202020;
}
h2{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #202020;
}
.container{
    width: 1680px;
    margin: 0 auto;
    padding: 0 40px;
    box-sizing: border-box;
}



.topline{
    width: 100%;
    padding-top: 12px;
    .topline-menu{
        display: inline;

        li{
            display: inline;
            list-style: none;
            margin-right: 20px;
            a{
                text-decoration: none;
                font-family: Arial;
                font-style: normal;
                font-weight: normal;
                font-size: 13px;
                line-height: 15px;
                color: #A0A0A0;
            }
        }
        
    }
    .contact{
        float: right;
        #telephone-number{
            font-weight: bold;
            font-size: 15px;
            line-height: 17px;            
            color: #202020;
        }
        .headline-call{
            text-decoration: none;
            border-radius: 4px;
            margin-left: 20px;
            padding: 3px 10px;
            background: #FFEA01;
            // opacity: 0.25;
            span{
                font-family: Arial;
                font-style: normal;
                font-weight: normal;
                font-size: 13px;
                line-height: 15px;
                color: #000000;
            }
            
        }
    }
}

.fly-header-wrap{
    padding-top: 6px;
    .fly-header{
        >div{
            display: inline-block;
            text-align: center;
            vertical-align: middle;
        }
        .search-button{
            display: inline-block;
        }
        .kit-logo{
            width: 190px;
            height: 75px;
        }
        .catalog{
            margin-left: 65px;
            width: 127px;
            height: 40px;
            background: #FFEA01;
            border-radius: 4px;
            padding: 11px 0;
            box-sizing: border-box;
            text-align: unset;
            cursor: pointer;
            .catalog-button{
                font-family: Arial;
                font-style: normal;
                font-weight: bold;
                font-size: 15px;
                line-height: 17px;
                color: #202020;
                margin-left: 48px;
                position: relative;
            }
            .catalog-button::before{
                width: 20px;
                height: 20px;
                content: url(../wallpapers/burger.png);
                position: absolute;
                top: -1px;
                left: -29px;
            }
        }
        .input-group{
            margin-left: 25px;
            height: 40px;
            box-sizing: border-box;
            background: #FFFFFF;
            // border: 2px solid #FFEA01;
            border-radius: 4px;
            #search-form{
                padding-left: 15px;
                width: 755px;
                height: 40px;
                box-sizing: border-box;
                border: transparent;
                outline: none;
                float: left;
                border: 2px solid #FFEA01;
            }
            #search-form::placeholder{
                font-family: Arial;
                font-style: normal;
                font-weight: normal;
                font-size: 15px;
                line-height: 17px;
                color: #A0A0A0;
            }
            #search-form::-webkit-input-placeholder{
                font-family: Arial;
                font-style: normal;
                font-weight: normal;
                font-size: 15px;
                line-height: 17px;
                color: #A0A0A0;
            }
            #search-button{
                display: none;
            }
            .search-button-block{
                cursor: pointer;
                display: inline-block;
                width: 64px;
                height: 40px;
                background: #FFEA01;
                border-radius: 0 4px 4px 0;
                .search-button-img{
                    position: relative;
                    top: 8px;
                    width: 24px;
                    height: 24px;
                }
            }
        }
        .buttons-block{
            >div{
                cursor: pointer;
                display: inline-block;
                margin-left: 56px;
                position: relative;
                height: 40px;
                >img{
                    display: inline-block;
                    vertical-align: middle;
                }
            }
            >div::before{
                content: '';
                display: inline-block;
                height: 100%;
                vertical-align: middle;
            }




            >div:nth-child(-n+3)::after{
                content: url(../wallpapers/verticalline.png);
                position: absolute;
                top: 8px;
                right: -28px;
                height: 24px;
            }
            // >div:nth-child(3)::after{
            //     top: -4px;

            // }
        }
    }
    
}
.top-menu{
    margin-top: 20px;
    width: 100%;
    background: #FFEA01;
    height: 46px;
    .top-menu-list{
        margin-left: 20px;
        >ul{
            

            >li{
                position: relative;
                display: inline-block;
                list-style-type: none;
                margin: 0 16px;
                // padding-top: 14px;
                height: 46px;
                >a{
                    text-decoration: none;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 15px;
                    line-height: 17px;                    
                    color: #202020;
                    display: inline-block;
                    vertical-align: middle;
                }
            }
            >li::before{
                content: '';
                display: inline-block;
                height: 100%;
                vertical-align: middle;
            }

            >li:first-child::before{
                content: url(../wallpapers/discountIcon.png);
                position: absolute;
                top: calc(50%-10px);
                left: -28px;
                height: 20px;
                width: 20x;
            }
        }
        
        
    }
}

.catalog-category{
    margin-top: 30px;
    .breadcrumbs{
        margin-bottom: 7px;
        >ul{
            font-style: normal;
            font-weight: normal;
            font-size: 30px;
            line-height: 19px;                    
            font-size: 13px;
            color: #555;
            >li{
                list-style-type: none;
                display: inline-block;

                >a{
                    text-decoration: none;
                }
            }
        }
    }
    
}
.category-block{
    margin-top: 30px;
    .category-block-menu{
        height: 40px;
        background: #F5F5F5;
        
        >ul{
            margin-left: 8px;
            >li{
                list-style-type: none;
                display: inline-block;
                margin: 0 20px;
                padding-top: 11px;
                >a{
                    font-style: normal;
                    font-weight: bold;
                    font-size: 15px;
                    line-height: 20px;
                    color: #202020;
                    text-decoration: none;
                }
            }
        }
    }
    .category-block-banner{
        // background-image: url(../wallpapers/football-banner.png);
        width: 100%;
        height: 400px;
        overflow: hidden;
        >p{
            width: 514px;
            font-style: normal;
            font-weight: normal;
            font-size: 32px;
            line-height: 42px;
            color: #FFFFFF;
            margin-left: 65px;
            padding-top: 115px;
            margin-bottom: 44px;

        }
        >div{
            // margin-left: 65px;
            width: 123px;
            height: 40px;
            text-align: center;
            box-sizing: border-box;
            >a{
                background: #FFEA01;
                border-radius: 4px;
                font-style: normal;
                font-weight: bold;
                font-size: 15px;
                line-height: 17px;            
                color: #202020;
                padding: 11px 20px;
                text-decoration: none;
            }
        }
        
    }
}
.category-popular{
    margin-top: 50px;
    .category-popular-list{
        margin-top: 20px;
        >div{
            width: 233px;
            // float: left;
            display: inline-block;
            margin-right: 36px;
            text-align: center;
            >a{
                text-decoration: none;
                >img{
                    border-radius: 7px;
                }
                >span{
                    font-style: normal;
                    font-weight: bold;
                    font-size: 17px;
                    line-height: 29px;
                    color: #202020;
                    
                }
            }
            
        }
        >div:last-of-type{
            margin-right: 0px;
        }
    }
}

.product-popular{
    margin-top: 50px;
    .product-popular-swiper{
        height: 301px;
        margin-top: 20px;
        overflow: hidden;
    }
    .swiper-container1 {
        width: 100%;
        >.swiper-wrapper{
            >.swiper-slide{
                height: 301px;
                position: relative;
                >a{
                    text-decoration: none;
                    >img{
                        width: 180px;
                        height: 180px;
                        margin-bottom: 15px;
                        border-radius: 8px;
                    }
                    >span:first-of-type{
                        width: 180px;
                        display: block;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 13px;
                        line-height: 17px;
                        color: #202020;
                        display: block;
                        width: 180px;
                    }
                    .product-popular-coast{
                        display: block;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 17px;
                        line-height: 17px;
                        color: #202020;
                        position: absolute;
                        bottom: 0px;
                    }
                }
            }
        }
    }
}


.subcategory-popular{
    margin-top: 100px;
    .subcategory-popular-container{
        
        .subcategory-popular-banner{
        float: left;
        margin-right: 50px;
        >a{
            >img{
                border-radius: 10px;
            }
        }
        }
        .subcategory-popular-block{
            h2{
                padding-top: 20px;
                padding-bottom: 10px;
            }
            >div{
                >span{
                    font-style: normal;
                    font-weight: normal;
                    font-size: 17px;
                    line-height: 22px;
                    color: #A0A0A0;
                }
            }
        
            .subcategory-popular-list{
                padding-top: 20px;
                >div{
                    width: 233px;
                    display: inline-block;
                    margin-right: 50px;
                    margin-bottom: 50px;
                    text-align: center;
                    a{
                        text-decoration: none;
                        
                        >img{
                            border-radius: 7px;
                        }
                        >span{
                            font-style: normal;
                            font-weight: bold;
                            font-size: 17px;
                            line-height: 34px;
                            color: #202020;
                        }
                    }
                }
                >div:nth-child(4n){
                    margin-right: 0px;
                }
            }
        }

    }
}
.brands{
    margin-top: 56px;
    .container{

        .brands-heading{
            position: relative;
            height: 28px;
            h2{
                display: inline-block;
                position: absolute;
                top: 0px;
                left: 0px;
            }
            a{
                display: inline-block;
                position: absolute;
                top: 0px;
                right: 0px;
                text-decoration: none;
                font-style: normal;
                font-weight: normal;
                font-size: 15px;
                line-height: 20px;
                color: #A0A0A0;
            }
        }
        .brands-popular{
            margin-top: 22px;
            height: 88px;

            >div{
                width: 12.5%;
                height: 88px;
                float: left;
                box-sizing: border-box;
                text-align: center;
                >a{
                    >img{
                        display: inline-block;
                        vertical-align: middle;
                    }
                }
                >a::before{
                    content: '';
                    display: inline-block;
                    height: 100%;
                    vertical-align: middle;
                }
            }
            
        }
        
    }
}



.swiper-container {
    width: 100%;
    >.swiper-wrapper{
        >.swiper-slide{
            >img{
                width: 350px;
                height: 230px;
                margin-bottom: 15px;
                border-radius: 8px;
            }
            >span{
                font-style: normal;
                font-weight: bold;
                font-size: 17px;
                line-height: 22px;            
                color: #202020;
                
            }
        }
    }
}
.swiper-button-next, .swiper-button-prev{
    color: white;
    top: 42%;
}
.swiper-button-next:after, .swiper-button-prev:after {
    color: white;
}

.articles-popular{
    margin-top: 50px;
    .articles-popular-swiper{
        margin-top: 22px;
        height: 230px;
    }
}

// footer{
//     height: 395px;
//     background-color: turquoise;
// }